/* @import 'tailwindcss'; */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@import "./ball-loader.css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tch-blue: #19416a;
  --color-tch-blue-semi: #6e97c0;
  --color-tch-blue-light: #ecf0f3;
  --color-tch-gold: #c0a26e;

  --list-style-type-square: square;

  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1200px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
  --tchblue: #19416a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

:root {
  --yarl__color_backdrop: rgba(0, 0, 0, 0.8);
}

/* html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
} */

body {
  @apply bg-tch-blue-light;
}

p,
ul {
  @apply text-lg;
}

h1 {
  @apply text-2xl md:text-3xl font-bold text-tch-blue;
}
h2 {
  @apply text-2xl font-bold text-tch-blue;
}

h3 {
  @apply text-xl font-bold;
}
h4 {
  @apply text-lg font-bold;
}

.button {
  @apply transition-all  border-b-2 border-tch-blue px-5 py-2 font-semibold rounded-md flex gap-1 w-fit uppercase overflow-hidden;
}
.button:hover {
  @apply bg-white text-tch-blue  pl-10;
}

.button svg {
  @apply transition-all;
}

.button:hover svg {
  @apply translate-x-10;
}

.member-box {
  background: url(/images/mitglied.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-item {
  @apply overflow-hidden rounded-sm;
}

.gallery-item .gallery-caption {
  @apply absolute bottom-0 left-0 right-0 bg-tch-blue p-3 text-white opacity-90 transition-all ease-in-out	duration-300 scale-75;
}

.gallery-item .gallery-caption {
  @apply translate-y-full;
}

/* .gallery-item:hover .gallery-caption {
  @apply translate-y-0 scale-100;
} */

.gallery-item img {
  @apply transition-all ease-in-out	duration-300;
}
.gallery-item:hover img {
  @apply scale-105 rotate-1;
}

/* NAVIGATION */

.nav-item-dropdown {
  @apply flex flex-col z-10 bg-tch-blue-light py-4 px-3 rounded-sm text-tch-blue font-bold gap-1  drop-shadow-lg origin-top  transition duration-200 ease-out data-closed:scale-95 data-closed:opacity-0 data-closed:translate-y-5;
}

.nav-item {
  @apply transition-all duration-300 ease-in-out px-4 pt-2 pb-3 rounded-md hover:bg-white/10;
}

.nav-item span {
  @apply pb-2 bg-[left_90%] bg-linear-to-r from-tch-blue to-tch-blue bg-[length:0%_2px] bg-no-repeat  transition-all duration-300 ease-out;
}

.mobile-nav-item {
  @apply flex flex-col gap-6 text-xl  uppercase text-white w-full transition-all ease-in-out	duration-500;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide.header-slide::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  @apply bg-tch-blue;
}

nav > * {
  position: relative;
}
nav > *::before {
  content: "";
  position: absolute;
  top: calc(100% + 6px);
  left: 50%;
  width: 4px;
  opacity: 0;
  height: 3px;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  transform: translateX(-50%);
  background: white;
}

.main-nav-blue > *::before {
  @apply bg-tch-blue;
}

nav > *:hover::before {
  opacity: 1;
  width: 1.75rem;
}

.subline-hero {
  background: white;
  mix-blend-mode: screen;
}

.news-item {
  @apply overflow-hidden rounded-sm;
}
.news-item img {
  @apply duration-500 transition-transform;
}
.news-item:hover img {
  @apply scale-105;
}

.schedule-slide-container {
  --slide-spacing: 1.5rem;
  margin-left: calc(var(--slide-spacing) * -1);
}

.schedule-slide {
  @apply md:basis-1/3 basis-3/4;
  padding-left: var(--slide-spacing);
}

.sponsor-slide {
  flex: 0 0 25%;
  min-width: 0;
  @apply md:basis-1/4 basis-1/2;
}

.satzung p {
  @apply text-justify mb-3;
}

.satzung li {
  @apply list-disc list-outside;
}

.spielordnung h3 {
  @apply mb-3;
}

.yarl__container {
  @apply w-full rounded-sm hover:cursor-pointer border-b-4 border-tch-blue mb-4;
}

.yarl__thumbnails_wrapper .yarl__container {
  @apply w-auto rounded-none hover:cursor-auto border-b-0 border-tch-blue mb-0;
}

/* CKEEDITOR */

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

:root {
  --ck-content-font-family: "Roboto Condensed", "Roboto Condensed Fallback";
}
.ck-content {
  padding: 0 2rem !important;
}

.ck-image-insert-form button {
  display: flex !important;
}
/* .main-container {
  font-family: var(--ck-content-font-family);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
} */

.fc-daygrid-event {
  white-space: normal;
  text-wrap: balance;
}

@media (max-width: 767px) {
  .fc-toolbar.fc-header-toolbar {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .fc-toolbar.fc-header-toolbar .fc-button {
    line-height: 1;
    font-size: 0.875rem;
  }
  .fc-toolbar.fc-header-toolbar .fc-button .fc-icon {
    font-size: 0.875rem;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    order: 3;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: 1;
  }
  .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    order: 2;
  }
}

.fc-daygrid-event {
  flex-direction: column;
  text-align: center;
}

.fc-daygrid-event-dot {
  border-color: var(--color-tch-gold) !important;
}
